<ion-header>
	<ion-toolbar>
		<ion-title>Edit an alarm</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label>time</ion-label>
		<ion-datetime [(ngModel)]="time" display-format="HH:mm" picker-format="HH:mm"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label>Day</ion-label>
        <ion-select [(ngModel)]="selectedDay">
            <ion-select-option [value]="day" *ngFor="let day of daysOfWeek">{{ day }}</ion-select-option>
        </ion-select>
    </ion-item>
	<ion-button expand="block" (click)='editAlarm(time, selectedDay);'>edit reminder</ion-button>
</ion-content>