<ion-header>
  <ion-toolbar>
    <ion-title>
      Smart Mirror Interactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" (click)='login();'>Log into your Smart Mirror</ion-button>
    <ion-button expand="block" (click)='logout();'>Log Out of your Smart Mirror</ion-button>
    <ion-button expand="block" routerLink="/reminders">Reminders' Options</ion-button>
    <ion-button expand="block" routerLink="/list-alarms">Alarms' Options</ion-button>
    <ion-button expand="block" (click)='refresh();'>Refresh Mirror</ion-button>
    <ion-button expand="block" (click)='changeState();'>Hide/Show Display</ion-button>
  </div>
</ion-content>
